#app {
  background-color: rgb(29, 45, 60);
}

.header {
  background-color: rgb(6, 19, 31);
  height: 80px;
}

.navigation {
  width: 80%;
}

.card {
  background-color: rgb(6, 19, 31);
  color: white;
}

.card img {
  width: 70%;
}
.discstats {
  z-index: 999;
  background-color: rgb(6, 19, 31);
  color:white;
  height: 400px;
  width: 300px;
  border: 10px solid rgb(29, 45, 60);
  position: absolute;
  top: 200px;
  left: 805px;
}
.discstats img{
  width: 70%;
}